@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=News+Cycle&display=swap');

* {
    color: #F7E3D4;
    padding: 0;
    margin: 0;
    font-family: 'News Cycle', sans-serif;
    box-sizing: border-box;
}
footer {
    background-color: #234539;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    font-family: 'Amatic SC', cursive;;
}

#profPhoto {
    width: 100px;
}

#section1 {
    background-image: url(./images/coverPhoto.jpg);
    height: 500px; /* You must set a specified height */
    background-position: fixed; 
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#portfolio {
    background-color: #7D3415;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

#name, h2 {
    font-size: 75px;
}

.portfolioIcon {
    min-width: 200px;
    height: auto;
}

.subhead {
    font-size: 15px;
}

.flickity-page-dots {
    display: none;
}
.flickity-button {
    width: 3vw;
    border: transparent;
    border-radius: 100%;
    opacity: 70%;
}
.aboutIcon {
    height: 200px;
}

#aboutMe {
    background-color: #AC8574;
    justify-content: space-around;
}

.contactIcon {
    height: 75px;
    padding-right: 40px;
}


.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.intro {
    float: right;
    padding-top: 100px;
    padding-right: 150px;
}


.intro {
    opacity: 0; /* Initially set the opacity to 0 to hide the element */
    animation: fadeInAnimation 2s forwards; /* Use the fade-in animation with a duration of 1 second */
}

@keyframes fadeInAnimation {
    from {
        opacity: 0; /* Start the animation with an opacity of 0 */
    }
    to {
        opacity: 1; /* End the animation with an opacity of 1 (fully visible) */
    }
}

.flickity-slider {
    transform: translateX(10px);
    height: 50vh;
    display: flex;
    justify-content: space-around;
}

.aboutIcons {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust the column width based on your image size */
    grid-gap: 50px; /* Adjust this to set the gap between tiles */
}

.carousel-cell {
    margin-right: 20px;
    overflow: hidden;
  }
  
  .carousel-cell img {
    display: block;
    height: 300px;
  }

  .flickity-enabled {
    padding-right: 30vw;
    display: flex;
  }


  @media (max-width: 768px) {
    .flexRow {
        display: flex;
        flex-direction: column;
    }

    .next {
        position: absolute;
        left: 90vw;
    }

    .previous {
        position: absolute;
        left: 90vw;
    }

    #portfolio {
        height: 550px
    }

    #portfolio h2 {
        padding-left: 50px;
    }

    .previous {
        position: absolute;
        left: 10vw;
    }
    
    #aboutMe {
        background-color: #AC8574;
        justify-content: space-around;
        padding-right: 55px;
        padding-left: 55px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #voilinText {
        position: absolute;
        bottom: -90px;
    }

    #trainerText {
        position: absolute;
        bottom: -120px;
    }

    #devText {
        position: absolute;
        bottom: -150px;
    }

    #aboutText {
        position: absolute;
        bottom: -246px;
    }


  }