@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=News+Cycle&display=swap');

* {
    color: #F7E3D4;
    font-family: 'News Cycle', sans-serif;
    box-sizing: border-box;
}
#trainerText {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#footerIcons {
    display: flex;
}
#h2Port {
    padding-left: 60px
}
.hide {
    display: none !important;
}
a {
    text-decoration: none;
}
footer {
    background-color: #234539;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}


h2 {
    font-family: 'Amatic SC', cursive;;
}

#profPhoto {
    width: 100px;
}

#section1 {
    background-image: url(./images/coverPhoto.jpg);
    height: 100vh;
    background-position: -340px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#portfolio {
    background-color: #7D3415;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 100vh;
    padding-bottom: 20px;
}

#name, h2 {
    font-size: 75px;
}


.subhead {
    font-size: 15px;
}

.letterspacing {
    letter-spacing: 5px;

}



#trainer {
    position: relative;
    bottom: 135px;
    right: 48px;
}
.aboutIcon {
    height: 200px;
}

.aboutMeText {
    margin: 0px
}
#aboutMe {
    background-color: #AC8574;
    height: 60vh;
}

.contactIcon {
    height: 75px;
    padding-right: 40px;
}


.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.intro {
    opacity: 0; /* Initially set the opacity to 0 to hide the element */
    animation: fadeInAnimation 2s forwards; /* Use the fade-in animation with a duration of 1 second */
    position: absolute;
    bottom: 393px;
    top: 359px;
    right: -23px;
    padding-right: 29px;
    align-items: end;
    margin-left: -126px;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0; /* Start the animation with an opacity of 0 */
    }
    to {
        opacity: 1; /* End the animation with an opacity of 1 (fully visible) */
    }
}


.portfolioIcon {
    max-width: 400px;
    height: auto;
}


#developer {
    position: absolute;
    top: -37px;
    right: 137px;
}

h2, #contact, #name {
    font-size: 50px;
}

#trainerText {
    align-items: end;
}




.intro {
    top: 484px;
    right: -23px;
    margin-left: -126px;
}

.padding {
    padding-left: 60px;
}

.centered {
    display: flex;
    justify-content: center;
}

.aboutIcons {
    bottom: -219px;
    right: -48px;
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust the column width based on your image size */
    grid-gap: 50px; /* Adjust this to set the gap between tiles */
    position: relative;
}

.contactIcon {
    height: 50px;
}
.lastIcon {
    padding-right: 0;
}
#violin {
    position: absolute;
    right: 248px;
    top: 60px;
    z-index: 10;
}
.flexColumn {
    bottom: 188px;
    align-items: start;
    left: 233px;
    position: absolute;
}

.intro {
    align-items: end;
    line-height: 0;
    padding-right: 48px;
}
#portfolio {
    flex-direction: column;
    height: 80vh;
}

#portfolioGitHub {
    position: absolute;
    bottom: -113px;
    right: 32px;
}

#aboutTextSection {
    position: absolute;
    top: 184vh;
    right: 43px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#aboutText {
    margin: 0px;
}

@media (min-width: 650px) {
    #section1 {
        background-position: -250px;
    }

    .intro {
        padding-right: 109px;
    }

    #portfolio {
        flex-direction: row;
    }

    #portfolioGitHub {
        top: 169vh;
        right: 539px;
    }


    .aboutIcons {
        bottom: -210px;
    }
    .portfolioIcon {
        position: relative;
        top: 139px;
    }

    #aboutTextSection {
        top: 184vh;
        right: 55px;
    }
    #developer {
        top: -102px;
        right: 22px;
    }

    .aboutIcon {
        height: 272px;
    }

    #violin {
        right: 185px;
        top: 19px;
    }

    #trainer {
        bottom: 226px;
        right: 57px;
    }
}