@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=News+Cycle&display=swap');

* {
    color: #F7E3D4;
    padding: 0;
    margin: 0;
    font-family: 'News Cycle', sans-serif;
    box-sizing: border-box;
}
#trainerText {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hide {
    display: none !important;
}
a {
    text-decoration: none;
}
footer {
    background-color: #234539;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;    
    padding-top: 20px;
    padding-bottom: 20px;
}


h2 {
    font-family: 'Amatic SC', cursive;;
}

#profPhoto {
    width: 100px;
}

#section1 {
    background-image: url(./images/coverPhoto.jpg);
    height: 100vh;
    background-position: fixed; 
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#aboutTextSection {
    display: flex;
    align-items: end;
    flex-direction: column;
}
#portfolio {
    background-color: #7D3415;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 100vh;
    padding-bottom: 20px;
}

#name, h2 {
    font-size: 75px;
}


.subhead {
    font-size: 15px;
}

.flickity-page-dots {
    display: none;
}

.letterspacing {
    letter-spacing: 5px;
    line-height: 2;
}

#portfolioGitHub {
    position: absolute;
    bottom: -124px;
    /* bottom: -53px; */
}



#trainer {
    position: relative;
    bottom: 92px;
}
.aboutIcon {
    height: 200px;
}

#aboutMe {
    background-color: #AC8574;
    height: 60vh;
}

.contactIcon {
    height: 75px;
    padding-right: 40px;
}


.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.intro {
    float: right;
    padding-top: 100px;
    padding-right: 150px;
}


.intro {
    opacity: 0; /* Initially set the opacity to 0 to hide the element */
    animation: fadeInAnimation 2s forwards; /* Use the fade-in animation with a duration of 1 second */
}

@keyframes fadeInAnimation {
    from {
        opacity: 0; /* Start the animation with an opacity of 0 */
    }
    to {
        opacity: 1; /* End the animation with an opacity of 1 (fully visible) */
    }
}


.aboutIcons {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust the column width based on your image size */
    grid-gap: 50px; /* Adjust this to set the gap between tiles */
    position: relative;
    bottom: -47px;
}

.portfolioIcon {
    max-width: 400px;
    height: auto;
}

@media (max-width: 768px) {
    .flexRow {
        display: flex;
        flex-direction: column;
    }

    .padding {
        padding-left: 50px;
    }
    #portfolio {
        height: 100vh;
        flex-direction: column;
    }

    #portfolio h2 {
        padding-left: 50px;
    }


    #aboutTextSection {
        position: relative;
        top: -87px;
        right: 50px;
    }

    #developer {
        position: relative;
        right: 103px;
        bottom: -112px;
    }

    #trainer {
        bottom: 114px;
        right: -46px;
    }

    .aboutIcons {
        bottom: -133px;
    }

    .aboutIcon {
        height: 250px;
    }

 
    .flexColumn {
        position: relative;
        bottom: 66px;   
    }

    .portfilioIcons {
        max-width: 300px;
        height: auto;
        padding-top: 46px;
    }

    .intro {

    position: absolute;
    bottom: 242px;
    right: -106px;

    }
    .centered {
        display: flex;
        justify-content: center;
    }
    .portfolioIcon {
        max-width: 500px;
    }
    #portfolioGitHub {
        bottom: -111px;
        right: 30px;
    }

    #section1 {
        background-position: -218px;
    }
  }

 @media (max-width: 450px) {
    .portfolioIcon {
        max-width: 400px;
        height: auto;
    }

    #trainer {
        bottom: 118px;
        right: 6px;
    }
    #developer {
        right: 157px;
    }
    * {
        margin: -6px;
    }

    h2, #contact, #name {
        font-size: 50px;
    }

    #trainerText {
        align-items: end;
    }


    #section1 {
        background-position: -340px;
    }

    .intro {
        position: absolute;
        bottom: 393px;
        top: 359px;
        right: -23px;
        padding-right: 29px;
        align-items: end;
        margin-left: -126px;
    }

    .padding {
        padding-left: 60px;
    }

    .centered {
        display: flex;
        justify-content: center;
    }

    .aboutIcons {
        bottom: -170px;
        right: -48px;
    }


    .contactIcon {
        height: 50px;
    }
    .lastIcon {
        padding-right: 0;
    }
    #violin {
        position: absolute;
        right: 128px;
        top: -4px;
        z-index: 10;
    }
    .flexColumn {
        bottom: 188px;
        align-items: start;
        left: 233px;
        position: absolute;
    }

    .intro {
        align-items: end;
        line-height: 2;
        padding-right: 48px;
    }
    #portfolio {
        flex-direction: column;
        height: 80vh;
    }

    #portfolioGitHub {
        bottom: -90px;
        right: 32px;
    }

    #aboutTextSection {
        position: relative;
        top: -130px;
        right: 75px;
    }

    footer {
        align-items: baseline;
    }
  }

